---
---
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{site.baseurl}}/css/syntax.css">
		<link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
		
        {% feed_meta %}
  
		{% if page.use_math %}
			{% include mathjax_support %}
		{% endif %}
    </head>
    <body>

        {{ content }}
		
        <a href="https://rubenpieters.github.io/feed.xml" class="feed"></a>
    </body>
	<footer>
        <div class="container">
		  <p class="copyright">Copyright © Ruben Pieters 2017. All Rights Reserved.</p>
        </div>
	</footer>
</html>