---
---
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">
        <link rel="stylesheet" href="{{site.baseurl}}/css/syntax.css">
		<link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
		
        {% feed_meta %}
  
		{% if page.use_math %}
			{% include mathjax_support %}
		{% endif %}
        
    </head>
    <body>

	    <ul class="navhead">
			<li id="navroot" class="navelem"><a href="/">Blog</a></li>
			<li id="navacademic" class="navelem"><a href="/academic.html">Academic</a></li>
			<li id="navprojects" class="navelem"><a href="/resume.html">Resume</a></li>
        </ul>
	   
        {{ content }}
		
		<script>
			// navbar script
		    const path = window.location.pathname;
			if (path === '/') {
			  document.getElementById('navroot').classList.add('navactive');
			} else if (path.startsWith('/academic')) {
			  document.getElementById('navacademic').classList.add('navactive');
			} else if (path.startsWith('/resume')) {
			  document.getElementById('navprojects').classList.add('navactive');
			}
			
			// collapsible elements script
			let coll = document.getElementsByClassName("collapsible");

			for (let i = 0; i < coll.length; i++) {
				coll[i].addEventListener("click", function() {
				this.classList.toggle("active");
				const content = this.parentElement.nextElementSibling;
				if (content.style.maxHeight){
					content.style.maxHeight = null;
				} else {
					content.style.maxHeight = content.scrollHeight + "px";
				} 
			  });
			}
		</script>
    </body>
	<footer>
        <div class="container">
		  <p class="copyright">Copyright © Ruben Pieters 2017-2023. All Rights Reserved. Site theme based on <a href="https://github.com/sharu725/hagura">hagura</a>.</p>
        </div>
	</footer>
</html>
